
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Zeynep</td>
        <td>Yazılım Departmanı</td>
    </tr>  <tr>
        <td>2</td>
        <td>Şuayip</td>
        <td>Analiz Departmanı</td>
    </tr>
</table>